<form style="height: 78.89vh;" action="/project/create" method="post">
  <div class="mb-3">
    <input type="text" placeholder="Enter the name of the Project" class="form-control"  name="name" >
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" name="description" placeholder="Enter the description">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" name="author" placeholder="Enter the auhtor name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>